html, body, #root {
  height: 100%;
  /*overflow: hidden;*/
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td, th {
  white-space: normal; /* Only needed when it's set differntly somewhere else */
  word-wrap: break-word;
}
.Toastify__toast-body > div:last-child {
  font-size: 14px;
  font-weight: 600;
}